@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Lato", sans-serif;
}

.btn {
    font-weight: 600;
    background-color: rgb(59 130 246);
    color: white;
    padding: 6px 8px;
    border-radius: 5px;
}
.slick-slide > div {
    display: flex;
    justify-content: center;
}
/* .slick-slide > div img {
    height: 255px;
    width: fit-content !important;
} */

